@import "../../css-config/mixins.scss";
@import "../../css-config//colors.scss";

.catalog {
  padding: 50px 0;
  &-title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 50px;
  }
  &-wrapper {
    display: grid;
    grid-gap: 16px;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    row-gap: 30px;
    .cart-item__link {
      width: 280px;
      height: 280px;
      display: block;
      position: relative;
      transition: all 0.3s ease-in-out;
      //   &:hover {
      //     img {
      //       transform: scale(1.1);
      //     }
      //   }
      //   &:before {
      //     content: "";
      //     width: 100%;
      //     height: 100%;
      //     background: rgba(0, 0, 0, 0.5);
      //     position: absolute;
      //     left: 0;
      //     top: 0;
      //     border-radius: 10px;
      //   }
    }
  }
  &-item {
    width: 100%;
    &__title {
      font-weight: 700;
      font-size: 20px;
      position: absolute;
      top: 30px;
      left: 20px;
      color: $white1;
      z-index: 2;
    }
    &__image {
      border-radius: 10px;
      overflow: hidden;
      transition: all 0.3s ease-in-out;
      img {
        border-radius: 10px;
        width: 100%;
        height: 100%;
        transition: all 0.3s ease-in-out;
      }
    }
  }
}

.ag-courses_item {
  overflow: hidden;
  border-radius: 10px;
}
.ag-courses-item_link {
  width: 280px;
  height: 277px;
  display: block;
  overflow: hidden;
  position: relative;
}

.ag-courses-item_link:hover .ag-courses-item_bg {
  -webkit-transform: scale(1);
  -ms-transform: scale(10);
  transform: scale(1);
}
.ag-courses-item_title {
  font-weight: 700;
  font-size: 25px;
  color: $white1;
  z-index: 2;
  position: absolute;
  top: 30px;
  left: 30px;
}

.ag-courses-item_bg {
  height: 128px;
  width: 128px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;
  transform: scale(10);
  border-radius: 50%;

  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.ag-courses-item_img {
  width: 100%;
  img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
  }
}
