@import "../../../css-config/colors.scss";

.modal {
  position: fixed; /* фиксированное положение */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5); /* фон */
  z-index: 1050;
  opacity: 0; /* по умолчанию модальное окно прозрачно */
  -webkit-transition: opacity 200ms ease-in;
  -moz-transition: opacity 200ms ease-in;
  transition: opacity 200ms ease-in; /* анимация перехода */
  pointer-events: none; /* элемент невидим для событий мыши */
  margin: 0;
  padding: 0;
}
/* При отображении модального окно */
.modal:target {
  opacity: 1; /* делаем окно видимым */
  pointer-events: auto; /* элемент видим для событий мыши */
  overflow-y: auto; /* добавляем прокрутку по y, когда элемент не помещается на страницу */
}
/* ширина модального окна и его отступы от экрана */

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 500px;
    margin: 30px auto; /* отображение окна по центру */
  }
}
/* Стили для блока с контентом окна */
.modal-content {
  width: 560px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border-radius: 15px;
  outline: 0;
  padding: 20px 25px;
}

@media (min-width: 768px) {
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
}

/* Стили заголовка окна */
.modal-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.modal-title {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.5;
  font-size: 22px;
  font-weight: 600;
}
/* Стили кнопки "х" ("Закрыть")  */
.close {
  text-decoration: none;
  background: $orange1;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  &:hover {
    opacity: 0.9;
  }
}
/* Стили блока основного содержимого окна */
.modal-body {
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding-top: 20px;
  overflow: auto;
  input {
    border: 1px solid $grey2;
    border-radius: 10px;
    width: 100%;
    height: 52px;
    padding: 0 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: $black1;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    outline: none;
    margin-bottom: 15px;
  }
  .callback-text {
    display: block;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
    a {
      text-decoration: none;
      color: $black1;
      transition: all 0.3s ease;
      &:hover {
        color: $orange1;
      }
    }
  }
  .callback-btn {
    width: 100%;
    text-align: center;
    justify-content: center;
    background: $orange1;
    &:hover {
      background: $orange2;
    }
  }
}
