@import "../../../css-config//colors.scss";

.scroll-btn {
  position: fixed;
  right: 20px;
  bottom: 50px;
  display: none;
  z-index: 4;
  border-radius: 50px;
  background-color: $orange1;
  height: 50px;
  width: 50px;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
  svg {
    padding: 0;
    margin: 0;
  }
  &.is-scrolled {
    display: flex;
  }
}
