$black1: #212328;
$green1: #2dbe64;
$green2: #20a151;
$orange1: #ff6900;
$orange2: #e86100;
$grey1: #f0f0f4;
$grey2: #94959b;
$grey3: #f3f3f7;
$grey4: #adadad;
$grey4: #5c6370;
$white1: #fff;
$bg-footer: #333;
// 364156
